addict==2.4.0
albumentations==1.3.1
clip==1.0
colour==0.1.5
einops==0.7.0
evo==1.25.2
fvcore==0.1.5.post20221221
h5py==3.10.0
joblib==1.2.0
json_tricks==3.16.1
loguru==0.6.0
matplotlib==3.3.4
model_archiver==1.0.3
munkres==1.1.4
natsort==8.2.0
numpy==1.23.5
onnx==1.13.0
onnxruntime==1.14.0
open3d==0.16.0
opencv_contrib_python==4.7.0.72
opencv_python==4.7.0.68
packaging==23.2
pavi==0.0.1
Pillow==9.4.0
Pillow==10.1.0
poseval==0.1.0
psutil==5.9.4
pyrender==0.1.45
pytest==7.2.1
PyYAML==6.0
Requests==2.31.0
scipy==1.11.4
seaborn==0.13.0
setuptools==68.0.0
spacepy==0.4.1
spacy==3.6.0
t2m==0.1.0
tensorflow==2.15.0
timm==0.4.9
titlecase==2.4.1
tqdm==4.66.1
tqdm==4.64.1
transforms3d==0.4.1
ts==0.5.1
xmltodict==0.13.0
yacs==0.1.8
